
body{
	margin:0;
	padding:0;
}
*{
	box-sizing: border-box;
}

.container{
	max-width:1150px;
	margin:auto;
	position: relative;
	min-height:1px;
}
.team{
	min-height: 50vh;
	padding:50px 10px;
	background-image: url(bg.jpeg);
	background-size: cover;
	background-attachment: fixed;
}
.team h1{
	font-size: 70px;
	font-family: harrington;
	font-weight: 900;
	color:#000000;
	margin: 5;
	padding-bottom: 50px;
	text-align:center;
}
.team .card{
	width: 25%;
	float: left;
	padding:0px 15px;
}
.team .card .box {
	padding: 15px;
	background-color: #ffffff;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
}
.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px red;
}
.team .card .box img{
	width: 170px;
	display: block;
	margin: 10px auto;
	border-radius:50%;
}
.team .card .box h4{
	font-size:20px;
	font-family:harrington;
	margin: 20px 0px 10px;
	color: #000000;
	text-align: center;
	font-weight: 700;
}
.team .card .box h5{
	font-size:16px;
	font-family:candara;
	color: #000000;
	text-align: center;
	font-weight: 600;
	margin:0px 0px 15px;
}
.team .card .box p{
	font-size:14px;
	font-family:candara;
	color: #000000;
	text-align: center;
	font-weight: 400;
	margin:0px 20px;
	line-height: 24px;
}
button {
	position: absolute;
	top: 50%;
	left: 50;
	transform: translate(-50%,-50%);
}
html, body {
	margin: 50;
	padding: 50;
	width: 100;
}
body {
	height: 100vh;
	background:: #white;
}
button {
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translate(-50%,-50%)
}
button {
	width: 82px;
	height: 30px;
	background: #FFFFFF;
	text-align: center;
	font-size: 13px;
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #000000;
}
button:focus {
	outline: none;
}
button:before {
	content: ' ';
	display: block;
	position: absolute;
	background: #0077b5;
	width: 60px;
	height: 100%;
	top: 0%;
	left: 0;
	opacity: .5s;
	filter: blur(50px);
	transform: translateX(-130px) skewX(-15deg);
}
button:after {
	content: ' ';
	display: block;
	position: absolute;
	background: #DFD0D0;
	width: 30px;
	height: 100%;
	top: 0;
	left: 30;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}
button:hover {
	background: #DA2525;
	cursor: pointer;
}	
body {
  margin: 0;
  font-family: Helvetica;
}


.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 13px 18px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ff0000;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}
