body{
	height: 8vh;
	justify-content; center;
	margin: 0;
	font-family: Helvetica;
}
.img-wrap {
	width: 50%
}
.img-wrap img {
	width: 30%;
	display: flex;
	position: absolute;
	top: 25%;
	left: 48%;
	transform: translate(-50%,-50&);
	border-radius: 100%;
}
.card {
	width: 50%;
	float: center-left;
	padding:200px 300px;
}
h2 {
	font-family: "comic sans ms";
	font-size: 25px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: 13%;
	left: 25%;
	color: #ffffff;
}
p {
	font-family: candara;
	font-size: 17px;
	font-style: normal;
	font-weight: 300;
	text-align: justify-content;
	line-height: 30px;
	position: absolute;
	top: 20%;
	left: 20%;
	color: #ffffff;
}
button {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%,-50%)
}
button {
	width: 82px;
	height: 30px;
	background: #FFFFFF;
	text-align: center;
	font-size: 13px;
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #000000;
}
button:focus {
	outline: none;
}
button:before {
	content: ' ';
	display: block;
	position: absolute;
	background: #0077b5;
	width: 60px;
	height: 100%;
	top: 0%;
	left: 0;
	opacity: .5s;
	filter: blur(50px);
	transform: translateX(-130px) skewX(-15deg);
}
button:after {
	content: ' ';
	display: block;
	position: absolute;
	background: #DFD0D0;
	width: 30px;
	height: 100%;
	top: 0;
	left: 30;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}
button:hover {
	background: #DA2525;
	cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 13px 18px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ff0000;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}
